$c-white: #ffffff;
$c-black: #303030;

$c-dark-gray: #1f1f1f;
$c-deep-gray: #242424;
$c-gray: #4e4e4e;
$c-light-gray: #aeaeae;
$c-fade-gray: #c9c8c8;

$c-app--light: #e8ebec;
$c-container--light: #dbdede;
$c-app--dark: #191a1a;
$c-container--dark: #212222;

$c-accent: #776aff; // #7d6af6;

$c-green: #1dc136;
$c-red: #e23939;
$c-orange: #e90;
