$c-white: #ffffff;
$c-black: #232323;

$c-dark-gray: #171717;
$c-deep-gray: #1a1a1a;
$c-gray: #4e4e4e;
$c-light-gray: #aeaeae;
$c-fade-gray: #c9c8c8;

$c-app--light: #eeeff0;
$c-container--light: #dbdede;
$c-app--dark: darken($c-black, 6%);
$c-container--dark: #212222;

$c-accent: #776aff;

$c-green: #1dc136;
$c-red: #e23939;
$c-orange: #ee9900;
