@font-face {
    font-family: 'Fira Mono';
    src: url('FiraMono.woff2') format('woff2'),
        url('FiraMono.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Mono';
    src: url('FiraMono-Bold.woff2') format('woff2'),
        url('FiraMono-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

