%base-font {
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
  letter-spacing: 0.025em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
}

%code-font {
  font-family: "Fira Mono", sans-serif;
  line-height: 1.36;
  letter-spacing: 0.025em;
  margin-block-start: 0.25em;
  margin-block-end: 0.25em;
}

%text {
  &--sm {
    @extend %base-font;
    font-weight: 400;
    @include use-font-size(--sm);
  }

  &--md {
    @extend %base-font;
    font-weight: 400;
    @include use-font-size(--md);
  }

  &--lg {
    @extend %base-font;
    font-weight: 400;
    @include use-font-size(--lg);
  }

  &--xl {
    @extend %base-font;
    font-weight: 300;
    @include use-font-size(--xl);
  }
}

%title {
  &--xs {
    @extend %base-font;
    font-weight: 500;
    @include use-font-size(--xs, title);
  }

  &--sm {
    @extend %base-font;
    font-weight: 600;
    @include use-font-size(--sm, title);
  }

  &--md {
    @extend %base-font;
    font-weight: 600;
    @include use-font-size(--md, title);
  }

  &--lg {
    @extend %base-font;
    font-weight: 600;
    @include use-font-size(--lg, title);
  }

  &--xl {
    @extend %base-font;
    font-weight: 600;
    @include use-font-size(--xl, title);
  }
}
