@use "sass:map";
@use "sass:math";

@use "./app.abstracts.scss" as *;
@use "./app.core.scss" as *;

/* width */
::-webkit-scrollbar {
  width: map.get($scrollbar, "width");
}

/* Track */
::-webkit-scrollbar-track {
  @include themify($themes) {
    background: rgba(themed("label", "disabled"), 0);
  }
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: calc(map.get($scrollbar, "width") / 2);
  @include themify($themes) {
    background: themed("label", "primary");
  }
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @include themify($themes) {
    background: themed("label", "accent");
  }
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
