/* Caros */

@font-face {
  font-family: "Caros";
  src: url("/fonts/caros/CarosThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/caros/CarosLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/caros/Caros.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/caros/CarosMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/caros/CarosBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Mono";
  src:
    url("/fonts/fira-mono/FiraMono.woff2") format("woff2"),
    url("/fonts/fira-mono/FiraMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Mono";
  src:
    url("/fonts/fira-mono/FiraMono-Bold.woff2") format("woff2"),
    url("/fonts/fira-mono/FiraMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
