/* Caros */

@font-face {
  font-family: "Caros";
  src: url("/fonts/CarosThin.woff2") format("woff2");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/CarosLight.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/Caros.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/CarosMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Caros";
  src: url("/fonts/CarosBold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
