@font-face {
  font-family: "Fira Mono";
  src:
    url("/fonts/fira-mono/FiraMono.woff2") format("woff2"),
    url("/fonts/fira-mono/FiraMono.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Fira Mono";
  src:
    url("/fonts/fira-mono/FiraMono-Bold.woff2") format("woff2"),
    url("/fonts/fira-mono/FiraMono-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
